In [1]:
# Importing Dependencies
import pandas as pd

In [2]:
# Reading csv file
path = "C:/Users/nites/Desktop/pandas-challenge/HeroesOfPymoli/purchase_data.csv"

#Storing csv file as dataframe
purchase_data = pd.read_csv(path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Total Number of Players- counting the number of unique player names using unique() and len() function
Total_Player_Count = {'Total Players': [len(purchase_data["SN"].unique())]}
Totalplayers = pd.DataFrame.from_dict(Total_Player_Count)
Totalplayers

   Total Players
0            576

In [4]:
# Purchase Analysis (Total)
# Number of Unique items
unique_items_count = len(purchase_data["Item ID"].unique())
# print(unique_items)

# Average Purchase Price, rounding off to two decimal places
average_price = round(purchase_data["Price"].mean(),2)
# print(average_price)

# Total Number of Purchases
total_purchases = purchase_data["Purchase ID"].count()
# print(total_purchases)

# Total Revenue
total_revenue = purchase_data["Price"].sum()
# print(total_revenue)

#Creating Summary Dataframe to hold results, with formatting
Purchase_Analysis = {"Total Number of Unique Items": [unique_items_count],
                    "Average Purchase Price": ["$"+ str(average_price)],
                    "Total Number of Purchases": [total_purchases],
                    "Total Revenue": ["$"+ str(total_revenue)]}
Summary_Purchase_Analysis = pd.DataFrame(Purchase_Analysis)
Summary_Purchase_Analysis

,Total Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

In [31]:
# Gender Demographics
# Creating dataframe with all the relevant gender data
gender_data = purchase_data[["SN","Gender"]]
# gender_data.head()

# Dropping duplicate values from the gender data
unique_gender_data = gender_data.drop_duplicates()
unique_gender_data = unique_gender_data.groupby("Gender")
unique_gender_data_count = [unique_gender_data["Gender"].count()]
# unique_gender_data_count
unique_gender_data_percentage = [round(((unique_gender_data["Gender"].count() / unique_gender_data["Gender"].count().sum()) * 100),2)]
# unique_gender_data_percentage

# Percentage and Count of Male Players

# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

TypeError: Can only merge Series or DataFrame objects, a <class 'list'> was passed